body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: rgb(60, 142, 189);
}

.center-heading {
    text-align: center;
    margin-top: 20px;
    
}

.stopwatch-container {
    text-align: center;
}

.display {
    margin:100px 100px;
    
    font-size: 5em;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 25px;
}

.controls button {
 margin:10px;
    font-size: 1em;
    
    padding: 5px 10px;
    cursor: pointer;
background-color: rgb(27, 165, 27);
border-radius: 25px;
}
